@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .button {
        @apply inline-block text-xs font-bold text-center uppercase border rounded;
    }
    .button.blue {
        @apply text-white bg-blue-500 border-blue-500 hover:bg-blue-300 hover:border-blue-300 disabled:bg-blue-300 disabled:border-blue-300;
    }

    .button.blue.hollow {
        @apply text-blue-500 bg-transparent border-blue-500;
    }
}

@layer utilities {
    .alert-enter {
        opacity: 0;
        transform: scale(0.9);
    }
    .alert-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
    }
    .alert-exit {
        opacity: 1;
    }
    .alert-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }
    .my-node-enter {
        opacity: 0;
    }
    .my-node-enter-active {
        opacity: 1;
        transition: opacity 200ms;
    }
    .my-node-exit {
        opacity: 1;
    }
    .my-node-exit-active {
        opacity: 0;
        transition: opacity 200ms;
    }
}
